# Pandas I - Introduction to fundamental objects

`pandas` is the Python library that structures and simplifies data manipulation and analysis. The name, pandas is derived by **pan**el and **da**ta. The library indeed focusses on representing data as tables (`DataFrames`), indices (`Index`) and data series (`Series`).

|  |  |  |  |
| --- | --- | --- | --- | 
|<img src="./assets/jnb021/Panda_Cub_from_Wolong,_Sichuan,_China.jpeg" alt="Drawing" style="width: 300px;"/> | <img src="./assets/jnb021/Panda_Cub_from_Wolong,_Sichuan,_China.jpeg" alt="Drawing" style="width: 300px;"/> | <img src="./assets/jnb021/Panda_Cub_from_Wolong,_Sichuan,_China.jpeg" alt="Drawing" style="width: 300px;"/> | <img src="./assets/jnb021/Panda_Cub_from_Wolong,_Sichuan,_China.jpeg" alt="Drawing" style="width: 300px;"/> |

`pandas` uses `NumPy` arrays to represent data. It provides specific functions to manipulated data as `code objects`. This means that to use pandas you need to import also NumPy. `pandas` requires and builds on top of `NumPy`.

There are three main data object types in pandas:

  - `Series` - A mutable, one-dimensional array of indexed data.
  - `DataFrames` - A two-dimensional, size-mutable, potentially heterogeneous tabulated data structure.
  - `Index` -  An one-dimensional, immutable array or ordered set (technically a multi-set, as Index objects may contain repeated values).

Below we will learn a little bit more about these three data objects.

###### A short history of Pandas.
Wes McKinney started developing what then became pandas while working at the capital management firm Applied Quantitative Research (AQR). Pandas was developed initially as a closed-source project and was made open source in 2009. Pandas is sponsored by [NumFOCUS, Inc.](https://numfocus.org/) that promotes support and sponsorships of python based open source code.

In [1]:
import numpy as np
import pandas as pd

### The pandas `Series` object

`Series` are dictionary-like objects. Pandas Series is a one-dimensional array that comes with labels assigned. They similar to NumPy one-dimensional arrays but they are labeled or indexed. So they are built on top of NumPy arrays but come with additional functionality as well as constrains. They can be thought of as a specification of NumPy arrays. For example, let's evaluate the code below.

First we define a pandas Series objects and assign a set of string values to the elements of the object:

In [2]:
data = pd.Series(['a', 'b', 'c', 'd'])

After defining the object let's explore it.

In [3]:
print (data)

0    a
1    b
2    c
3    d
dtype: object

The data type is defined as `object`, the values we assigned are stored in the second column. The first column is the `index` automatically assigned by pandas to each value. Now, exch value comes with an index. This is a foundamental data organization aspect of pandas. Values always have indeces, because pandas deals with panel data, i.e., tables. So even a one-dimensional array as a Series is assigned indices just like a table is.

We will discuss pandas index objects later.

A Pandas Series can be created directly by assigning values into an array (using `[]`), and that array to a series (`pd.Series()`). Yet, the final product of that series definition create something different than an Array. It creates a set of pairs of values where a label (`index`) is associated to a corresponding value. 

Series are capable of holding data of any type (integer, string, float, python objects, etc.).  For example:

In [4]:
data = pd.Series(['string',10, np.nan,0.01])
print(data)

0    string
1        10
2       NaN
3      0.01
dtype: object

Once the Series object is created, the Index is created and it becomes part of the methods of the Series object. This means that the Index to the entries can be retrieved and used to address the corresponding entry. For example, we can call the `Index` as a method and it will return the range, with the min value, the max value and the steps in btween them:

In [5]:
data.index

RangeIndex(start=0, stop=4, step=1)

The index can be used to address the corresponding value in the Series object:

In [6]:
data[0:3]

0    string
1        10
2       NaN
dtype: object

Because the Index in pandas is explictly defined and it becomes a method (this is in contrast with NumPy arrays where indices are impliclty defined and hence not addressable or callable), the pandas Series object becomes much more useful and strctured.

For example, we can create a Series object by explictly assigning values and indices:

In [7]:
data1 = pd.Series(['string',10, np.nan,0.01],index=[0,3,2,4])

print(data1)

0    string
3        10
2       NaN
4      0.01
dtype: object

Even though `data` and `data1` might look the same, they are not. The indices are different:

In [8]:
print(data.index)
print(data1.index)

RangeIndex(start=0, stop=4, step=1)
Int64Index([0, 3, 2, 4], dtype='int64')

So, that, if we address the second entry in either object we will get different values:

In [9]:
print(data[3])
print(data1[3])

0.01
10

One way to think about pandas Series objects is that they are dictionaries where a label is paired to a value, say `label 1` is assigned to `value 1`, or `label 2` to `value 3` etc. Indeed, a pandas Series object can be constructed by hand building a dictionary a set of pairing of labels and values. 

For example, let's build a [Python dictionary](https://docs.python.org/3/tutorial/datastructures.html#dictionaries) of cognitive health. The dictionary pairs a label to a value:

In [10]:
cognitive_health = {'happyness':10,
                    'language': 2, 
                    'energy': 5, 
                    'memory': 3}

Note that python dictionaries have attributes (you can type `cognitive_health.` and press `tab` twice to get a list of attributes), yet the python dictionary does not have `index` as an attribute. 

The following line will return an error.

In [11]:
cognitive_health.index

AttributeError: 'dict' object has no attribute 'index'

Python dictionaries can be used to set pandas Series directly:

In [12]:
cognitive_health_Series = pd.Series(cognitive_health)

The dictionary has been made into a panda Series and it is now ordered and labelled. So, the following operation will not return an error, but the labels of the Series (the indices):

In [13]:
cognitive_health_Series.index

Index(['happyness', 'language', 'energy', 'memory'], dtype='object')

Another important property that the pandas Series have and python dictionaries do not is the ability to allow slicing. Whereas, a dictionary would return an error if called as follows:

In [14]:
cognitive_health['happyness':'energy']

TypeError: unhashable type: 'slice'

A pandas Series do allow slicing:

In [15]:
cognitive_health_Series['happyness':'energy']

happyness    10
language      2
energy        5
dtype: int64

To summarize what we have learned about pandas Series:

 - They are ordered and labelled one-dimensional arrays.
 - They can be populated by assigning
  - values only (indeces are automatically assigned): `series = pd.Series(['a','b','c'])`
  - values and indices explicitly: `series = pd.Series(['a','b','c'],index = [1,3,2])`
  - python dictionaries directly: `dic = {1:'a',2:'b',3:'c'}`, `series = pd.Series(dic)` 
 - They always come with the property `index`

$\color{blue}{\text{Complete the following exercise.}}$

  - Use the cell below to create a `Pandas` `Series` containing the months of the year as labels (index) and their duration in months as values (use a dictionary to create the `Series`):

In [24]:
#set the months as panda series

#create dictionary for months
months = {'January':31,
          'February':28,
          'March':31,
          'April':30,
          'May':31,
          'June':30,
          'July':31,
          'August':31,
          'September':30,
          'October':31,
          'November':30,
          'December':31}

#create the series
months_series = pd.Series(months)
print(months_series)

January      31
February     28
March        31
April        30
May          31
June         30
July         31
August       31
September    30
October      31
November     30
December     31
dtype: int64

 - Use the cell below to create a Pandas Series containing the months of the year as labels (index) and their duration in months as values (define index and values explicitly, or in other words do not use a dictionary to define the `Series`):

In [20]:
#set the months as index and durations as values w/o dictionaries
months_series_new = pd.Series([31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31], index=['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'])
print(months_series_new)

January      31
February     28
March        31
April        30
May          31
June         30
July         31
August       31
September    30
October      31
November     30
December     31
dtype: int64

### Pandas `index` object

Let's briefly discuss the `index` object in pandas. 

An `Index` is the pandas object that hosts information regarding the ordering and labels of the arrays inside other objects such as `Series` and `DataFrames`.

Index objects also have many of the attributes familiar from NumPy arrays (e.g., shape, dimensions, size, etc):

In [25]:
ind = pd.Index([1, 2, 3, 4, 5])

print(ind.size, ind.shape, ind.ndim, ind.dtype)

print(ind)

5 (5,) 1 int64
Int64Index([1, 2, 3, 4, 5], dtype='int64')

Pandas `Index` objects are immutable.

An index is similar to a NumPy array, but it is immutable. This means that once an Index is defined the values inside the index cannot be changed.

Where arrays can be modified after definition, a pandas `index` cannot. Let's try this. Above we defined `ind` as a pandas `index` and set in the third position the value `3`. 

Let's try to change that value, evaluate the following operation in which we attempt to set the value `10` in the third position of `ind`:

In [26]:
ind[2] = 10

TypeError: Index does not support mutable operations

$\color{blue}{\text{Complete the following exercise.}}$

  - Use the cell below to create a `Pandas` `index` called `PandasIndexOne` containing the days of the week and a corresponding `Numpy` `array` called `NumpyArrayOne` containing the same values:

In [38]:
#create pandas index for days of the week
days_week = ('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')
PandasIndexOne = pd.Index(days_week)

#create numpy array for days of the week
NumpyArrayOne = np.array(['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'])

print(PandasIndexOne)
print(NumpyArrayOne)

Index(['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       'Saturday'],
      dtype='object')
['Sunday' 'Monday' 'Tuesday' 'Wednesday' 'Thursday' 'Friday' 'Saturday']

  -  Show that the `PandasIndexOne` is immutable and `NumpyArrayOne` is not.

In [39]:
PandasIndexOne[4] = 'Natassiaday'
print(PandasIndexOne)

TypeError: Index does not support mutable operations

In [44]:
NumpyArrayOne[4] = 'Natday'
print(NumpyArrayOne)

['Sunday' 'Monday' 'Tuesday' 'Wednesday' 'Natday' 'Friday' 'Saturday']

The error should return the following line at the end:

`TypeError: Index does not support mutable operations`

A pandas `Index` does not allow changes. This is helpful. One way to think about the index is that it is a specialized NumPy array. Specialized means that it has a more narrow scope than the more general goal of a NumPy array. The scope is that to define the (ahem) index of a data frame. Because of this scope (store an index) changes to the values of the array are not allowed, in other words the `Index` is immutable, or cannot be changed after definition by assiging a different value to any of its elements.

If we think about it, this makes sense. Changing a value inside an index of a data frame would change the definition of the data frame and really invalidating the purpuse of the index and of the data frame.

Pandas `Index` objects are designed to facilitate operations on the array and serve the task of keeping track of positions of data entries in the objects. 

They support and facilitiate operations such as joining datasets. Because of this the pandas index object follows many operations of the built in python datatype [`set`](https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset).

Because of this the Index object allows many of operations also served by Python set data structure, such as unions, intersections, differences, and other combinations can be computed in a familiar way.

For example, two pandas index object can be united. This means that the unique indices are combined:

In [45]:
index1 = pd.Index([1, 2, 3, 4, 5])
index2 = pd.Index([1, 3, 4, 6, 20])

index1.union(index2)

Int64Index([1, 2, 3, 4, 5, 6, 20], dtype='int64')

Other logical operations can be performed using pandas index objects, for example intersection (find the common elements):

In [46]:
index1.intersection(index2)

Int64Index([1, 3, 4], dtype='int64')

In [47]:
myseries = pd.Series([1,3,4,6,2,8])
myseries[index1.intersection(index2)]

1    3
3    6
4    2
dtype: int64

In sum, pandas index objects allow performing slicing, indexing operations and facilitate keeping track of, ahem, the indices.

$\color{blue}{\text{Complete the following exercise.}}$

  - Use the cell below to create two `Pandas` `Series`. The first Series should be called `PandasSeriesOne` contain titles of five songs from your favourite artist as indices and their respective duration (it is fine to only write the first four words of the title). The second Series should be called `PandasSeriesTwo` and contain the songs of your colleague sitting to your right (or left if no one sites to your right) favourite artist as indices and their correspdoning duration as value.

In [49]:
#create first panda series
#create dictionary for first set of songs
fivesecondsofsummer = {'HAZE':212,
                       'TEARS!':216,
                       'Teeth':214,
                       'Youngblood':212,
                       'Lonely Heart':213}
#first series
PandaSeriesOne = pd.Series(fivesecondsofsummer)

#create dictionary for second set of songs
youngthegiant = {'Something to Believe In':228,
                 'Cough Syrup':249,
                 'American Bollywood':283,
                 'Wake Up':216,
                 'Mirror Master':249}
#second series
PandaSeriesTwo = pd.Series(youngthegiant)

print(PandaSeriesOne)
print(PandaSeriesTwo)

HAZE            212
TEARS!          216
Teeth           214
Youngblood      212
Lonely Heart    213
dtype: int64
Something to Believe In    228
Cough Syrup                249
American Bollywood         283
Wake Up                    216
Mirror Master              249
dtype: int64

  - Use the cell below to find the duration of the songs you and your colleague have in common.

In [51]:
indexsongsone = pd.Index([212, 216, 214, 212, 213])
indexsongstwo = pd.Index([228, 249, 283, 216, 249])
indexsongsone.intersection(indexsongstwo)

Int64Index([216], dtype='int64')

### Pandas `DataFrame` objects

Whereas pandas `Index` and `Series` objects are the backbone of the pandas library, the `DataFrame` object is the workhorse of the library. DataFrames have effectively made pandas the library for data science.

The DataFrame is an exstension of the Series object. It is a 2-dimensional, mutable array that it can be conceptualized as either a more general NumPy array, or a specialized Python dictionary. 

A DataFrame can be defined most simply by setting some values to it. The indexing and labelling is automatically assigned by pandas. For example, we can create a one-dimensional list and assign the values of the list to a DataFrame:

In [52]:
list = ['a','b','c','d']
data_frame1 = pd.DataFrame(list)
print(data_frame1)

   0
0  a
1  b
2  c
3  d

Even though the result might seem very similar to that obtained about with the Series object, in reality, the DataFrame object has assigned not one but two labels, one label for the rows dimension (`[0:3]`) and one for the column dimension (`0`).

Indeed, we can notice from the `print()` output that two dimensions were automatically labelled (indexed) with numbers. Whereas the Series is created as a one-dimensional object, the DataFrame is created as a two-dimensional object.

Another way to think about a DataFrame is that it is a sequence of *aligned* Series objects. What do we mean by that?

Each column in the DataFrame can be thought of as a Series. Each series is labelled by the column index. Importantley, the series are aligned, this means that the set of Series (the columns of the DataFrame) are indexed by a common `Index` object.

Let's take a look at all this.

Let's construct a new Series object similar to `cognitive_health_Series`, the object we created above (make sure that object is still in memeory, if needed re-run that section of the cells). Let's assume that that original series represented the data collected on a subject.

In [53]:
cognitive_health_Series

happyness    10
language      2
energy        5
memory        3
dtype: int64

The new Series will represent data on a second subject. To build the series we will use steps similar to the ones used above. We will first make a python dictionary and then make a pandas Series object out of it.

In [54]:
cognitive_health_subject2_dict = {'happyness': 15,
                                  'language': 4, 
                                  'energy': 9, 
                                  'memory': 6}
cognitive_health_subject2_series = pd.Series(cognitive_health_subject2_dict)
cognitive_health_subject2_series

happyness    15
language      4
energy        9
memory        6
dtype: int64

Now that we have two pandas Series, we can construct a pandas DataFrame by combining the two Series objects. 

To do so, we will first create a single dictionary containing the two series, labelled as `subject 1` and `subject 2` and then use that dictionary to make a DataFrame.

The dictionary for the DataFrame is formed by assigning each subject to a label:

In [55]:
dict = {'subject 1' : cognitive_health_Series, 
        'subject 2' : cognitive_health_subject2_series}
print(dict)

{'subject 1': happyness    10
language      2
energy        5
memory        3
dtype: int64, 'subject 2': happyness    15
language      4
energy        9
memory        6
dtype: int64}

The dictionary can now be used to build a DataFrame:

In [56]:
sample = pd.DataFrame(dict)
sample

           subject 1  subject 2
happyness         10         15
language           2          4
energy             5          9
memory             3          6

In [57]:
cognitive_health_subject2_dict = {'happyness': 15,
                                  'language': 4, 
                                  'energy': 9, 
                                  'memory': 6,
                                  'attention': 22}
cognitive_health_subject2_series = pd.Series(cognitive_health_subject2_dict)
cognitive_health_subject2_series

dict = {'subject 1' : cognitive_health_Series, 
        'subject 2' : cognitive_health_subject2_series}
print(dict)

sample = pd.DataFrame(dict)
sample

{'subject 1': happyness    10
language      2
energy        5
memory        3
dtype: int64, 'subject 2': happyness    15
language      4
energy        9
memory        6
attention    22
dtype: int64}

           subject 1  subject 2
attention        NaN         22
energy           5.0          9
happyness       10.0         15
language         2.0          4
memory           3.0          6

Excellent. Pandas did its Kung Fu. The dictionary comprising two pandas Series, was organized into a pandas DataFrame.

Next try adding two more subjects to the same DataFrame (`sample`). Let's practice this with a subject that has all values higher than subject 2 by a value of 3 (just add 3) and another subject that has all values lower than subject 2 by a value of 2 (just subtract 3).

In [58]:
cognitive_health_subject4_dict = {'happyness': 15-2,
                                  'language': 4-2, 
                                  'energy': 9-2, 
                                  'memory': 6-2}
cognitive_health_subject4_series = pd.Series(cognitive_health_subject4_dict)
cognitive_health_subject4_series

happyness    13
language      2
energy        7
memory        4
dtype: int64

In [59]:
cognitive_health_subject3_dict = {'happyness': 15+3,
                                  'language': 4+3, 
                                  'energy': 9+3, 
                                  'memory': 6+3}
cognitive_health_subject3_series = pd.Series(cognitive_health_subject3_dict)
cognitive_health_subject3_series

happyness    18
language      7
energy       12
memory        9
dtype: int64

In [60]:
dict = {'subject 1' : cognitive_health_Series, 
        'subject 2' : cognitive_health_subject2_series, 
        'subject 3' : cognitive_health_subject3_series,
        'subject 4' : cognitive_health_subject4_series,
       }
print(dict)

{'subject 1': happyness    10
language      2
energy        5
memory        3
dtype: int64, 'subject 2': happyness    15
language      4
energy        9
memory        6
attention    22
dtype: int64, 'subject 3': happyness    18
language      7
energy       12
memory        9
dtype: int64, 'subject 4': happyness    13
language      2
energy        7
memory        4
dtype: int64}

In [61]:
sample = pd.DataFrame(dict)
sample

           subject 1  subject 2  subject 3  subject 4
attention        NaN         22        NaN        NaN
energy           5.0          9       12.0        7.0
happyness       10.0         15       18.0       13.0
language         2.0          4        7.0        2.0
memory           3.0          6        9.0        4.0

In [62]:
sample.isna()

           subject 1  subject 2  subject 3  subject 4
attention       True      False       True       True
energy         False      False      False      False
happyness      False      False      False      False
language       False      False      False      False
memory         False      False      False      False

The newly created DataFrame has various attributes that we can explore. We can address and extract the columns for example:

In [63]:
cols = sample.columns
print(cols)

Index(['subject 1', 'subject 2', 'subject 3', 'subject 4'], dtype='object')

We can address the rows, which in technical terms are called the labels or the index:

In [64]:
rows = sample.index
print(rows)

Index(['attention', 'energy', 'happyness', 'language', 'memory'], dtype='object')

$\color{blue}{\text{Complete the following exercise.}}$

  - Use the cell below to create a Pandas `DataFrame`. Each column of the DataFrame should be the title of song you pick (it is fine to clip the title tothe first 4 words in the title). Each row of the data frame should be the name of one of your colleagues, use 3-4 names. Interview 3-4 of your colleagues and add the value in each cell representing the rating of the corresponding song that each colleague provides using a scale between 0-5, where 5 is an awesome song and 0 is a boring song.

In [66]:
#create a dataframe

#create a dictionary and series for songs and first ratings 
subject1 = {'The Stranger':3,
            'I Need a Hero':5,
            'Goodbye Yellow Brick Road':3,
            'Despacito':1,
            'See You Again':4}
series1 = pd.Series(subject1)

#create a dictionary and series for second ratings
subject2 = {'The Stranger':1,
            'I Need a Hero':3,
            'Goodbye Yellow Brick Road':4,
            'Despacito':2,
            'See You Again':3}
series2 = pd.Series(subject2)

#create a dictionary and series for third ratings
subject3 = {'The Stranger':4,
            'I Need a Hero':4,
            'Goodbye Yellow Brick Road':2,
            'Despacito':5,
            'See You Again':1}
series3 = pd.Series(subject3)

#create a dictionary and series for fourth ratings
subject4 = {'The Stranger':1,
            'I Need a Hero':3,
            'Goodbye Yellow Brick Road':5,
            'Despacito':4,
            'See You Again':5}
series4 = pd.Series(subject4)

#create dictionary to compile the ratings
dict = {'Subject One':series1,
        'Subject Two':series2,
        'Subject Three':series3,
        'Subject Four':series4}

#create dataframe
Ratings_dataframe = pd.DataFrame(dict)
Ratings_dataframe

,Subject One,Subject Two,Subject Three,Subject Four
The Stranger,3,1,4,1
I Need a Hero,5,3,4,3
Goodbye Yellow Brick Road,3,4,2,5
Despacito,1,2,5,4
See You Again,4,3,1,5

  - Use the cell below to create a Pandas `DataFrame`. Each column of the DataFrame should be the name of an band/singer of your pick (it is fine to clip the title tothe first 4 words in the title). Each row of the data frame should be the name of one of your colleagues, use 3-4 names. Interview 3-4 of your colleagues and add the value in each cell representing the rating of the corresponding song that each colleague provides using a scale between 0-5, where 5 is an awesome song and 0 is a boring song.

In [67]:
#create a dataframe

#create a dictionary and series for songs and first ratings 
subject1 = {'Five Seconds of Summer':2,
            'Fallout Boy':4,
            'Mothica':0,
            'Waterparks':1,
            'Red Hot Chili Peppers':5}
series1 = pd.Series(subject1)

#create a dictionary and series for second ratings
subject2 = {'Five Seconds of Summer':4,
            'Fallout Boy':3,
            'Mothica':2,
            'Waterparks':2,
            'Red Hot Chili Peppers':3}
series2 = pd.Series(subject2)

#create a dictionary and series for third ratings
subject3 = {'Five Seconds of Summer':0,
            'Fallout Boy':5,
            'Mothica':3,
            'Waterparks':2,
            'Red Hot Chili Peppers':3}
series3 = pd.Series(subject3)

#create a dictionary and series for fourth ratings
subject4 = {'Five Seconds of Summer':4,
            'Fallout Boy':2,
            'Mothica':4,
            'Waterparks':3,
            'Red Hot Chili Peppers':5}
series4 = pd.Series(subject4)

#create dictionary to compile the ratings
dict = {'Subject One':series1,
        'Subject Two':series2,
        'Subject Three':series3,
        'Subject Four':series4}

#create dataframe
Ratings_dataframe = pd.DataFrame(dict)
Ratings_dataframe

                        Subject One  Subject Two  Subject Three  Subject Four
Five Seconds of Summer            2            4              0             4
Fallout Boy                       4            3              5             2
Mothica                           0            2              3             4
Waterparks                        1            2              2             3
Red Hot Chili Peppers             5            3              3             5

### Summary

We have learned about the library `pandas` and the three fundamental objects of the library:
 - Index
 - Series
 - DataFrames
 
 These last one are the most used, versatile data representation objects and are most commonly used for data science projects.
 
 Pandas DataFrames are 2-dimensional objects composed by collections of one-dimensional objects called Series. The one-dimensional objects in a DataFrame are `aligned` meaning that all entries of a series are matched, they are related, each row is indexed by the same index no matter what series.

$\color{blue}{\text{Complete the following exercise.}}$

To practice with pandas Series and DataFrames, build a new dataset that has 10 series (subject 1-10) representing measurements from the following measures of brain health (use a tidy format with columns as variables and rows as subjects). Guess appropriate values for neuronal activity, blood oxygenation, pulsation and cortical thickness.

`['neuronal activity', 'blood oxygenation', 'blood pulsation rate', 'cortical thickness']`

In [68]:
#create a dataframe

#create a dictionary and series for subject one
subject1 = {'Neuronal Activity':24,
            'Blood Oxygenation':98,
            'Blood Pulsation Rate':87,
            'Cortical Thickness':2.8}
series1 = pd.Series(subject1)

#create a dictionary and series for subject two
subject2 = {'Neuronal Activity':26,
            'Blood Oxygenation':94,
            'Blood Pulsation Rate':89,
            'Cortical Thickness':2.9}
series2 = pd.Series(subject2)

#create a dictionary and series for subject three
subject3 = {'Neuronal Activity':27,
            'Blood Oxygenation':96,
            'Blood Pulsation Rate':86,
            'Cortical Thickness':2.7}
series3 = pd.Series(subject3)

#create a dictionary and series for subject four
subject4 = {'Neuronal Activity':24,
            'Blood Oxygenation':97,
            'Blood Pulsation Rate':88,
            'Cortical Thickness':3.0}
series4 = pd.Series(subject4)

#create a dictionary and series for subject five
subject5 = {'Neuronal Activity':26,
            'Blood Oxygenation':97,
            'Blood Pulsation Rate':83,
            'Cortical Thickness':2.4}
series5 = pd.Series(subject5)

#create a dictionary and series for subject six
subject6 = {'Neuronal Activity':25,
            'Blood Oxygenation':92,
            'Blood Pulsation Rate':83,
            'Cortical Thickness':3.2}
series6 = pd.Series(subject6)

#create a dictionary and series for subject seven
subject7 = {'Neuronal Activity':22,
            'Blood Oxygenation':91,
            'Blood Pulsation Rate':93,
            'Cortical Thickness':2.4}
series7 = pd.Series(subject7)

#create a dictionary and series for subject eight
subject8 = {'Neuronal Activity':32,
            'Blood Oxygenation':84,
            'Blood Pulsation Rate':86,
            'Cortical Thickness':2.7}
series8 = pd.Series(subject8)

#create a dictionary and series for subject nine
subject9 = {'Neuronal Activity':26,
            'Blood Oxygenation':95,
            'Blood Pulsation Rate':88,
            'Cortical Thickness':3.1}
series9 = pd.Series(subject9)

#create a dictionary and series for subject ten
subject10 = {'Neuronal Activity':24,
            'Blood Oxygenation':99,
            'Blood Pulsation Rate':102,
            'Cortical Thickness':3.5}
series10 = pd.Series(subject10)

#create dictionary to compile the subjects
dict = {'Subject One':series1,
        'Subject Two':series2,
        'Subject Three':series3,
        'Subject Four':series4,
        'Subject Five':series5,
        'Subject Six':series6,
        'Subject Seven':series7,
        'Subject Eight':series8,
        'Subject Nine':series9,
        'Subject Ten':series10}

#create dataframe
brainhealth_dataframe = pd.DataFrame(dict)
brainhealth_dataframe

,Subject One,Subject Two,Subject Three,Subject Four,Subject Five,Subject Six,Subject Seven,Subject Eight,Subject Nine,Subject Ten
Neuronal Activity,24.0,26.0,27.0,24.0,26.0,25.0,22.0,32.0,26.0,24.0
Blood Oxygenation,98.0,94.0,96.0,97.0,97.0,92.0,91.0,84.0,95.0,99.0
Blood Pulsation Rate,87.0,89.0,86.0,88.0,83.0,83.0,93.0,86.0,88.0,102.0
Cortical Thickness,2.8,2.9,2.7,3.0,2.4,3.2,2.4,2.7,3.1,3.5